* {
	margin: 0;
	padding: 0;
}
ul {
	list-style: none;
}
legend {
	color: red;
}
fieldset {
	color: red;
}

/*Division de la nueva encuesta*/
#formCrearEncuesta {
	width: 55%;
	margin-top: 30px;
	height: 500px;
	background: gray;
	float: left;
	overflow-y: scroll;
}

/*Division con las plantillas existentes*/
#divListarPlantillas {
	float: right;
	border: 1px solid red;
}

/*Division con las preguntas*/
#divTiposPregunta {
	width: 43%;
	height: 550px;
	float: right;
	border: 1px solid green;
	overflow-y: scroll;
}

.tituloPreguntas {
	width: 100%;
	height: 30px;
}

.divDos {
	
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid blue;
}
.divDos h3 {
	font-family: "Century Gothic";
	font-size: 11px;
	color: red;
}
.divTres {
	border: 1px solid white;
	background: red;
}
.divTres label {
	color: yellow;
}
.divTres input {
	width: 20px;
	height: 20px;
	float: right;
}
.divCuatro {
	height: auto;
	margin-top: 5px;
	border: 1px solid red;
}
.divCuatro input{
	height: 30px;
}

/*Preguntas Abiertas*/
.divPreguntas {
	width: 95%;
	height: 300px;
	margin: auto;
	border: 1px solid purple;
	overflow-y: scroll;
}
