* {
    padding: 0;
    margin: 0;
}
.infUsuario {
    width: 90%;
    margin: auto;
    background: gray;
    padding-bottom: 10px;
    border: 1px solid red;
}
.infUsuario ul {
    list-style: none;
    width: 100%;
    padding-bottom: 1px;
    border: 1px solid green;
}
.infUsuario li {
    height: 25px;
}
.infUsuario li h2 {
    text-align: center;
    color: yellow;
}
.infUsuario li h3 {
    text-align: center;
    color: red;
}
.infUsuario li h4 {
    color: aqua;
    float: left;
}
.infUsuario li h5 {
    color: chartreuse;
    float: right;
}
.infUsuario li:first-child {
    width: 100%;
    border: 1px solid black;
}
.infUsuario li:nth-child(2) {
    width: 10%;
    border: 1px solid black;
    
    
}